.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav bar css */
.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  align-items: center;
}
.navItems {
  display: flex;
  gap: 1rem;
  justify-content: center;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}
.navItems span:hover {
  color: #20a87e;
}
.navItemsSale {
  color: rgb(235, 143, 127);
}
.navItemsSale:hover {
  color: rgb(235, 143, 127);
}
.navUser {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

/* Homepage CSS */
.firstHomeItem {
  margin-bottom: 2.5rem;
}
.homepage {
  width: 100%;
  margin: auto;
}
img {
  width: 100%;
}

/* shopCategories css */
.shopCategories {
  width: 85%;
  display: grid;
  grid-template-columns: 20% 80%;
  margin: auto;
  gap: 3rem;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .shopCategories {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.shopCategories img {
  width: 200px;
  height: 250px;
}
.cat_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .cat_one {
    text-align: center;
  }
}
.cat_one > p:first-of-type {
  font-size: 1.5rem;
  font-weight: bolder;
}
.cat_one > p:last-of-type {
  font-size: 13.4px;
}
.cat_two {
  display: flex;
}
@media screen and (max-width: 768px) {
  .cat_two {
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-left: 3.8rem;
    margin-top: 1rem;
  }
}
.homeItems {
  margin: 2.5rem 0;
}
.h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  width: 95%;
  margin: auto;
}
/* shopCollections css */
.shopCollections {
  width: 95%;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}
.shopCollectionsItems p {
  margin-top: 2.5px;
}
.shopCollectionsItems > p:first-of-type {
  font-weight: bolder;
}
.shopCollectionsItems > p:nth-of-type(2) {
  font-size: 14px;
}
.coll_link {
  color: black;
  text-decoration: underline;
  font-size: 15px;
}

.h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.ourStory {
  width: 85%;
  margin: auto;
  margin-bottom: 2.5rem;
}

.ourStory P {
  margin-top: 1rem;
}

.official {
  width: 85%;
  margin: auto;
  text-align: center;
}

.official p {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 2rem auto;
}

.input input {
  padding: 0.7rem;
  width: 100%;
  border-top: none;
  padding: 1em 0.5em;
}

.input button {
  background-color: #bfbfbf;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  padding: 1.5em 1em;
  font-size: 0.8em;
}

.fhm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  gap: 1.5rem;
}

.fhmItem {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.fhmItem img {
  width: 25%;
}
